@model IEnumerable<DAQLGYM.Models.TblTrainer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">

                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Quản lý HLV</h3>
                                    <br />
                                    <p>
                                        <!-- chuyên-->
                                        <a asp-action="Create">Thêm HLV</a>
                                    </p>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Tên HLV
                                                </th>
                                                <th>
                                                    Kinh nghiệm
                                                </th>

                                                <th>
                                                    Ảnh
                                                </th>

                                                
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FullName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Experience)
                                                    </td>
                                                    <td>
                                                        <img src="@Html.DisplayFor(modelItem => item.ProfileImage)" width="110" height="160" />
                                                    </td>

                                                    
                                                    <td>
                                                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.TrainerId">Chỉnh sửa</a> |
                                                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.TrainerId">Chi tiết</a> |
                                                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.TrainerId">Xóa</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.card -->
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</body>

