@model DAQLGYM.Models.TblBlog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>General Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->

        <h1>Chi tiết</h1>

        <div>
            <h4></h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Tiêu đề
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    Mô tả
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Alias)
                </dd>
                <dt class="col-sm-2">
                    Bài viết
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Detail)
                </dd>


                <dt class="col-sm-2">
                    Ảnh
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Image)
                </dd>

                <dt class="col-sm-2">
                    Người đăng
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>

              
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.BlogId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>



        <!-- /.row -->
    </section>
    =======

  
